{% extends 'base.html' %}
{% load static %}
{% block title %}Adiva | About{% endblock %}


{% block content %}

 {% comment %} <header class='header'>
    <h1>About</h1>
 </header> {% endcomment %}
 <div class="main">
    <div class="main-home-left">
       <div class="line"></div>
       <h1 class="main-text">
            <span class="main-text-main">
                However, since Charting is our proverbial "Golden Goose",
            </span>
            <span class="main-text-sub">
                everyone is required, <br> regardless of specific department, <br> to expect that they will be charting <br> 100% of their time here <br> at Adiva Graphics.
            </span>
        </h1>
    </div>
    <div class="main-home-right">

    </div>
 </div>

{% endblock %}
