{% extends 'base.html' %}
{% load static %}
{% block title %}Adiva | Faqs{% endblock %}


{% block content %}

   <header class="faqs-header">
      <div class="faqs__heading">
         <h1>
            <span class="faqs--text">
               FAQs
            </span>
         </h1> 
         
   </header>

   <main>
      
    <section id="faqs">
      <div class="container faqs__content">
     
          <div class="row ">
  
            <div class="col-md-6">
               <h2>Company Related FAQs</h2>
            </div>
          
            <div class="col-md-6">
               <h5>              
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </h5>
            </div>
            <div class="col-md-6">
               <h2> Service Related FAQs</h2>
            </div>
  
            <div class="col-md-6">
               <h5>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </h5>
            </div>
            <div class="col-md-6">
               <h2>Proceedings Related FAQs</h2>
            </div>
            <div class="col-md-6">
               <h5>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
               </h5>
            </div>
          </div>
        </div>
  
  </section>
   </main>

{% endblock %}
