{% extends 'base.html' %}
{% load static %}
{% block title %}Adiva | Legal{% endblock %}


{% block content %}

   <header class="legal-header">
      <div class="legal__heading">
         <h1>
            <span class="legal--text">
              legal
            </span>
         </h1> 
         
   </header>

   <main>
      <section class="legal-work">
         <div class="legal__work-head">
            <h1 class="legal--work-head-text">
              <span class="legal--work-head-text-main">Adiva Graphics is Committed to Respecting Your Privacy</span>
              <span class="legal--work-head-text-sub">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
            </h1>
         </div>
      </section>
  
   </main>
  
{% endblock %}
