
.csr-header{
    background-image: url('../Images/child.jpg');
    height: 95vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    position: relative;

}

.csr__heading{
    
    position: absolute;
    top: 50%;
    left: 9%;
}

.csr--text{
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.638);
    font-size: 5rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, .1);
    text-transform: uppercase;
    
}

.csr--line{
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    margin-top: 10px;
}



.csr-work{
    position: relative;
    background-color: rgba(248, 241, 241, 0.576);
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

.csr__work-head{
    height: 100%;
    position: absolute;
    top:20%;
    width: 100%;

    transform: translate(0%, 0%);
    /* background-color: #000000; */
}

.csr--work-head-text{
 
    text-align: center;
}

.csr--work-head-text-main{
    display: block;
    padding-bottom: 40px;
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.csr--work-head-text-sub{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.2px;
    font-weight: 600;
    padding: 0px 25px; 
    line-break: 20px;
    line-height-step: 5px;
}