/* html {
    font-size: 62.5%; } */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
 }
    
  
body {
    box-sizing: border-box; }
  
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* overflow: hidden; */
    /* padding: 25px; */

    }
  
.header{
    background-image: url('../Images/Home-Page.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home-header{
    color: #fff;
    top: -100%;
    left: 29%;
    position: absolute;
    transform: translate(-70%, 100%);
    margin: 15px;
    padding: 15px;
}

/* .header-text{
    color: #fff;
    top: 50%;
    left: 35%;
    position: relative;
    transform: translate(-30%, -50%);
} */

.header-text-main{
    display: block;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.header-text-sub{
    display: block;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700;
    padding-top: 40px;
}

.btn, .btn:link, .btn:visited {
    /* text-transform: uppercase; */
    color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    display: inline-block;
    margin-top: 30px;
    transition: all .2s;
    position: absolute;
    font-size: 1.6rem;
    border: #fff 2px;
    border-radius: 3%;
    border-style: solid;
    cursor: pointer; }
  
.arrow-icon{
    color: #fff;
    padding-left: 10px;
    font-size: 2.5rem;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: #000000;
    box-shadow: 0 1rem 2rem rgba(235, 232, 232, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.charting{
    background-color: #fff;
    /* padding: 25rem 0; */
    /* margin-top: -20vh;  */
}

.main-home-left{
    position: relative;
    width: 50%;
    /* text-align: center; */
    height: 100vh;
}

.line{
    height: 1px;
    width: 30%;
    background-color: #000000;
    color: #000000;
    margin-bottom: 10px;
}

.main-text{
    position: absolute;
    left: 20%;
    top:50%;
    transform: translate(-10%, -50%);
    color: #000000;
}

.main-text-main{
    display: block;
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.main-text-sub{
    margin-top: 30px;
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height-step: 2px;
}

.main-home-right{
    height: 100vh;
    position: relative;
    background-color: #000000;
    background-position: bottom;
    background-image: url('../Images/Livelihood.jpg');
    background-size: cover;
}

.vision{
    height: 100vh;
    width: 100%;
    background-image: url('../Images/investment.jpg');
    background-size: cover;
    background-position: top;
}

.adiva-video{
    position: relative;
    background-color: #fff;
    height: 95vh;
    width: 100%;
}

.video{
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    border-style: none;

} 


video {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    border-style: none;
  }

.project {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../Images/stock-photo.jpg');
    background-position: center;
    background-size: cover;
    color: #000000;

}

.project-text{
    position: absolute;
    top:30%;
    left:55%;
    transform: translate(-10%, -20%);
    font-weight: 400;
    background-color: rgba(255, 255, 255, .2);
    /* border: 1px solid  rgba(255, 255, 255, .08);     */
    margin: 20px;
    padding: 20px;
}

/* .project-left{

} */


strong{
    font-weight: bold;
}


.sub-1{
    display: block;
    margin: 20px;
    letter-spacing: 1px;
}

.vjs-control-text {
    left: 40% !important;
    top: 40% !important;
}


