@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; } 

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
 } 


.navigation__checkbox {
    display: none; }
  
.navigation__button {
    background-color: #fff;
    height: 7.5rem;
    width: 7.5rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  
  .navigation__background {
    height: 7rem;
    width: 1rem;
    border-radius: 35%;
    position: fixed;
    top: 6.2rem;
    right: 8rem;
    background-image: radial-gradient(#7bce6c, #16f3ad);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  
.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
.navigation__list {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-60%, -40%);
    list-style: none;
    text-align: center;
    width: 50%; }
  
.navigation__item {
    margin: 1rem; }
  
.navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  
.navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  
.navigation__checkbox:checked ~ .navigation__background {

  transform: scale(80); }
  
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
.navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
.navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
.navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
.navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
.navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  
